<ion-view view-title="发布教程" hide-tabs="true">
	<ion-nav-buttons side="right">
	  <a class="button button-icon icon iconfont icon-xuanze bgg-nav-right-icon"></a>
	</ion-nav-buttons>
  <ion-content>
  	<!--<button class="button button-assertive" ng-click="selectImg()">上传图片</button>-->
  	<button class="button button-small button-balanced" ng-click="addPhoto();">添加</button>
            <button class="button button-small button-balanced"  ng-click="uploadPhoto();">上传</button>
  </ion-content>
</ion-view>