<ion-view view-title="发布教程" hide-tabs="true">
	<ion-nav-buttons side="right">
	  <a class="button button-icon icon iconfont icon-xuanze bgg-nav-right-icon" ng-click="submit()"></a>
	</ion-nav-buttons>
  <ion-content>
  	<div class="add-tutorial-addimg">
  		<p>作品封面</p>
  	</div>
  	
  	<div class="add-tutorial-info" ng-init="order=0">
  		<textarea rows="1" class="add-tutorial-textarea add-tutorial-textarea-title" placeholder="写下你的作品名称吧" ng-model="course.course_name"></textarea>
  		<h4>工具和材料</h3>
  		<textarea class="add-tutorial-textarea" placeholder="所需工具和原料" ng-model="course.course_material"></textarea>
  		<div class="add-tutorial-step" ng-repeat="step in course.steps">
  			<h4>第{{ $index + 1}}步</h3>
  			<div class="add-tutorial-addimg">
		  		步骤图
		  	</div>
		  	<textarea class="add-tutorial-textarea" placeholder="添加步骤和说明" ng-model="step.describe"></textarea>
		  	<button class="button button-assertive" ng-click="deleteStep(step)">删除步骤</button>
  			<!--<img src=""/>-->
  		</div>
  		<button class="button button-dark button-block" ng-click="addStep()">添加一步</button>
  	</div>
  </ion-content>
</ion-view>