<ion-view view-title="详情" hide-tabs="true">
	<!--同级解决次级页面出现底部tab方案-->
	<!--<ion-nav-buttons side="left">
	  <a class="button button-icon icon ion-ios-arrow-thin-left" ng-click="backNav()"></a>
	</ion-nav-buttons>-->
	<ion-nav-buttons side="right">
	  <a class="button button-icon icon iconfont icon-biaoxing bgg-nav-right-icon"></a>
	</ion-nav-buttons>
  <ion-content>
  	<div class="bgg-detail-title text-center">
  		<img src="http://imgs.shougongke.com///course/cover/201704/11/17841726_1491875684_rtw2p6rbhr.jpg@!web_course_593"/>
  		<h3>墨兰花水彩画教程</h3>
  		<p>作者 | 当然是选择</p>
  		<p class="text-left">获多福300克细纹、36色樱花固体水彩颜料、调色盘、干布一块、红胖子水彩笔最小号、劲草毛笔大中小号、可塑橡皮一块</p>
  	</div>
  	<div class="bgg-detail-box">
  		<div class="bgg-detail-buzhou">
  			<h3 class="text-center">步骤1</h3>
  			<img src="http://imgs.shougongke.com//course/17841726/409063/1491875934_dkn5de65mz.jpg"/>
  			<p>36色樱花固体水彩颜料，调色盘，干布一块，自动铅笔一只，红胖子水彩笔最小号，劲草毛笔大中小号，可塑橡皮一块。</p>
  		</div>
  		<div class="bgg-detail-buzhou">
  			<h3 class="text-center">步骤2</h3>
  			<img src="http://imgs.shougongke.com//course/17841726/409063/1491875934_d666n88w66.jpg"/>
  			<p>先用铅笔勾画花卉形状，从主体花卉画起，定好花卉基本位置以后，添加花枝和花苞。
在构图的时候，注意主次，铅笔稿不用太过细致，大多位置点到为止，上色之前可轻轻擦弱线稿，保留淡淡的印记，这样画起来比较干净。</p>
  		</div>
  	</div>
  </ion-content>
</ion-view>