<ion-view view-title="关注" hide-tabs="true">
  <ion-content padding="true">
  	<div class="bgg-guanzhu-list-box">
  		<div class="bgg-guanzhu-list-item">
  			<h4>猴山猴<span class="text-right bgg-qxgz"><i class="iconfont icon-xihuanfill" ng-click="showConfirm('猴山猴','123456')"></i></span></h4>
  		</div>
  		<div class="bgg-guanzhu-list-item">
  			<h4>有时会突然忘记<span class="text-right bgg-qxgz"><i class="iconfont icon-xihuanfill"></i></span></h4>
  		</div>
  		<div class="bgg-guanzhu-list-item">
  			<h4>南山难<span class="text-right bgg-qxgz"><i class="iconfont icon-xihuanfill"></i></span></h4>
  		</div>
  		<div class="bgg-guanzhu-list-item">
  			<h4>原谅他<span class="text-right bgg-qxgz"><i class="iconfont icon-xihuanfill"></i></span></h4>
  		</div>
  	</div>
  </ion-content>
</ion-view>