<ion-view view-title="收藏" hide-tabs="true">
  <ion-content padding="true">
  	<div class="bgg-tutorial-list-box">
		<div class="bgg-tutorial-list-item">
			<a href="#/tab/my-tutorial-detail/132">
				<h4>传艺计划第二期2.10已正式开启</h4>
			</a>
			<div class="bgg-tutorial-list-item-info">
				<span>猴山猴 · 2017.4.18</span>
				<span class="bgg-tutorial-list-item-info-xihuan" ng-click="a()">
					<i class="iconfont icon-biaoxingfill"></i>已收藏
				</span>
			</div>
		</div>

		<div class="bgg-tutorial-list-item">
			<a href="#/tab/my-tutorial-detail/132">
				<h4>点匠令！手工客×拾艺学堂 扶植独立手艺人计划</h4>
			</a>
			<div class="bgg-tutorial-list-item-info">
				<span>当然是选择 · 2017.4.18</span>
				<span class="bgg-tutorial-list-item-info-xihuan" ng-click="a()">
					<i class="iconfont icon-biaoxingfill"></i>已收藏
				</span>
			</div>
		</div>
		</div>
  </ion-content>
</ion-view>