<ion-view view-title="详情" hide-tabs="true">
	<ion-nav-buttons side="right">
		<a class="button button-icon icon iconfont icon-shanchu bgg-nav-right-icon" ng-click="deletecourse()"></a>
		<!--<a class="button button-icon icon iconfont icon-fankui bgg-nav-right-icon"></a>-->
		<!--<a class="button button-icon icon iconfont bgg-nav-right-icon" ng-class="{true: 'icon-biaoxingfill', false: 'icon-biaoxing'}[course.is_collection]" ng-click="collection(course)"></a>-->
	</ion-nav-buttons>
	<ion-content>
		<div class="bgg-detail-title text-center">
			<img src="{{url + course.Sy_img}}"/>
			<h3>{{course.Course_Name}}</h3>
			<!--<p>作者 | {{course.User_NickName}} <i class="iconfont" ng-class="{true: 'icon-xihuanfill', false: 'icon-xihuan'}[course.is_follow]" ng-click="follow(course)"></i></p>-->
			<p>{{course.Material_Tool}}</p>
		</div>
		<div class="bgg-detail-box">
			<div class="bgg-detail-buzhou" ng-repeat="step in steps">
				<h3 class="text-center">第{{$index + 1}}步</h3>
				<img src="{{url + step.step_img}}" />
				<p>{{step.step_describes}}</p>
			</div>
		</div>
	</ion-content>
</ion-view>