<ion-view view-title="注册" hide-tabs="true">
  <ion-content class="padding">
  	<form class="bgg-form-box">
		<label class="item item-input bgg-form-input"">
        	<input class="text-center" type="text" placeholder="用户名" name="name" ng-model="formData.name">
      	</label>
		<label class="item item-input bgg-form-input"">
        	<input class="text-center" type="password" placeholder="密码" name="pwd" ng-model="formData.pwd">
        </label>
	</form>
	<button class="button button-block bgg-form-subbtn" ng-click="reg()">注册</button>
  </ion-content>
</ion-view>