<ion-view view-title="留言">
  <ion-content class="padding">
  	<div class="bgg-message-list-box">
  		<!--<p class="text-left">4月17日 星期一</p>-->
  		<div class="bgg-message-list-item" ng-repeat="message in messages">
  			<p class="bgg-message-list-item-body">{{message.Message_content}}</p>
				<div class="bgg-message-list-item-info">
					<span>{{message.User_NickName}} · {{message.Message_date}}</span>
					<!--<span class="bgg-message-list-item-info-dianzan">
						<i class="iconfont icon-zantong"></i>{{message.ThumbsUp_count}}人
					</span>-->
				</div> 
			</div>
  	</div>
  </ion-content>
</ion-view>
