<ion-view view-title="一坊">
  <ion-content class="padding" lazy-scroll>
  	<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
   <div class="row bgg-home-grid-menu">
			<a href="#/tab/tutorial-list/1" class="col text-center col-25 bgg-text-red">
				<ul>  
          <li>  
              <!--<img src="img/ionic.png" ng-click="alertClick({{item.text}})">-->  
              <i class="iconfont icon-pinpai"></i>	
              <p>布艺</p>  
            </li>  
        </ul>  
			</a>
    	<a href="#/tab/tutorial-list/2" class="col text-center col-25">
    		<ul>  
          <li>  
              <i class="iconfont icon-huwai"></i>
              <p>皮艺</p>  
            </li>  
        </ul>  
    	</a>
    	<a href="#/tab/tutorial-list/3" class="col text-center col-25">
    		<ul>  
          <li>  
              <i class="iconfont icon-kuzi"></i>
              <p>纸艺</p>  
            </li>  
        </ul>  
    	</a>
			<a href="#/tab/tutorial-list/4" class="col text-center col-25">
				<ul>  
          <li>  
              <i class="iconfont icon-guojiwuliu"></i>
              <p>木艺</p>  
            </li>  
        </ul>  
			</a>
		</div>
		<div class="row bgg-home-grid-menu">
			<a href="#/tab/tutorial-list/5" class="col text-center col-25">
				<ul>  
          <li>  
              <i class="iconfont icon-muying"></i>
              <p>饰品</p>  
            </li>  
        </ul>  
			</a>
    	<a href="#/tab/tutorial-list/6" class="col text-center col-25">
    		<ul>  
          <li>  
              <i class="iconfont icon-jujia"></i>
              <p>编织</p>  
            </li>  
        </ul>  
    	</a>
    	<a href="#/tab/tutorial-list/7" class="col text-center col-25">
    		<ul>  
          <li>  
              <i class="iconfont icon-tequanzhuanshu"></i>
              <p>模型</p>  
            </li>  
        </ul>  
    	</a>
			<a href="#/tab/tutorial-list/8" class="col text-center col-25">
				<ul>  
          <li>  
              <i class="icon ion-happy-outline"></i>
              <p>旧物</p>  
            </li>  
        </ul>  
			</a>
		</div>
		
		<div class="row bgg-home-hot-friend">
			<a href="#/tab/tutorial-list/hot" class="col col-49 text-center bgg-home-hot-button">
				本周热门
			</a>
			<!--<div class="col 2"></div>-->
			<a href="#/tab/tutorial-list/friend" class="col col-49 text-center bgg-home-friend-button col-offset-2">
				关注动态
			</a>
		</div>
		
		<div class="bgg-tutorial-list-box">
			<p class="text-center bgg-title-text">最近更新</p>
			<div class="bgg-tutorial-list-item" ng-repeat="course in courses">
				<a href="#/tab/tutorial-detail/{{course.Course_ID}}">
					<div ng-if="course.Sy_Img != ''" class="bgg-tutorial-list-item-img">
						<img ng-if="course.Sy_Img != ''" image-lazy-src="{{url + course.Sy_Img}}"/>
						<!--<img image-lazy-src="{{url + course.Sy_Img}}" image-lazy-loader="lines"/>-->
					</div>
					<h4>{{course.Course_Name}}</h4>
				</a>
				<div class="bgg-tutorial-list-item-info">
					<span>{{course.User_NiclkName}} · {{course.Course_date}}</span>
					<span class="bgg-tutorial-list-item-info-xihuan" ng-click="a()">
						<i class="iconfont" ng-class="{true: 'icon-biaoxingfill', false: 'icon-biaoxing'}[course.is_collection]"></i>{{course.Collection_Number}}
					</span>
				</div> 
			</div>
		</div>
  </ion-content>
</ion-view>
