<ion-view view-title="{{pagetitle}}" hide-tabs="true">
	<ion-content class="padding">
		<div class="bgg-tutorial-list-box">
			<!--<p class="text-center bgg-title-text">4月17日 星期一</p>-->
			<!--同级解决次级页面出现底部tab方案-->
			<!--<div class="bgg-home-list-item" ui-sref="detail({id:1,back:'tab.home'})" ﻿​nav-transition="ios" nav-direction="forward">-->
			<div class="bgg-tutorial-list-item">
				<a href="#/tab/detail/132">
					<img src="http://imgs.shougongke.com//Public/data/lunbo/kE4kXNJX25.jpg" />
					<h4>传艺计划第二期2.10已正式开启</h4>
				</a>
				<div class="bgg-tutorial-list-item-info">
					<span>猴山猴 · 2017.4.18</span>
					<span class="bgg-home-list-item-info-xihuan" ng-click="a()">
						<i class="iconfont icon-xihuan"></i>12人
					</span>
				</div>
			</div>

			<div class="bgg-tutorial-list-item">
				<a href="#/tab/detail/132">
					<img src="http://imgs.shougongke.com//Public/data/lunbo/XQEKNMArcZ.jpg" />
					<h4>点匠令！手工客×拾艺学堂 扶植独立手艺人计划</h4>
				</a>
				<div class="bgg-tutorial-list-item-info">
					<span>当然是选择 · 2017.4.18</span>
					<span class="bgg-tutorial-list-item-info-xihuan" ng-click="a()">
						<i class="iconfont icon-xihuan"></i>12人
					</span>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>