<ion-view view-title="{{pagetitle}}" hide-tabs="true">
	<ion-content class="padding" lazy-scroll>
		<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
		<div class="bgg-tutorial-list-box">
			<div class="bgg-tutorial-list-item" ng-repeat="course in courses">
				<a href="#/tab/tutorial-detail/{{course.Course_ID}}">
					<div class="bgg-tutorial-list-item-img">
						<img image-lazy-src="{{url + course.Sy_Img}}" />
					</div>
					<h4>{{course.Course_Name}}</h4>
				</a>
				<div class="bgg-tutorial-list-item-info">
					<span>{{course.User_NiclkName}} · {{course.Course_date}}</span>
					<span class="bgg-tutorial-list-item-info-xihuan" ng-click="a()">
						<i class="iconfont" ng-class="{true: 'icon-biaoxingfill', false: 'icon-biaoxing'}[course.is_collection]"></i>{{course.Collection_Number}}
					</span>
				</div>
			</div>
		</div>
		<div ng-if="ismore" class="text-center nomore">没有更多了</div>
		<ion-infinite-scroll ng-if="hasmore" on-infinite="loadMore()" distance="5%"></ion-infinite-scroll>
	</ion-content>
</ion-view>